<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beyourkid.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BeYourKid</name>
    <description>
        Content adaptation based on your personal preferences, taste, and choices.
    </description>
    <author email="info@beyourkid.com" href="http://beyourkid.com">
        BeYourKid Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="OverrideUserAgent" value="Mozilla/5.0 Google"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <preference name="OverrideUserAgent" value="Mozilla/5.0 Google"/>

        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon-57.png" width="57" height="57" />
        <icon src="res/ios/icon-57-@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />


        <splash src="res/screen/ios/screen-iphone-portrait.png" />
        <splash src="res/screen/ios/screen-iphone-portrait-2x.png" />
        <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />
    </platform>
    <engine name="android" spec="^6.3.0"/>
    <engine name="ios" spec="^4.5.1"/>
    <engine name="browser" spec="^5.0.0"/>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2"/>
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1"/>
</widget>
